{% extends 'layout.html.twig' %}

{% block body %}
    <h2>Last events</h2>
    <ul class="events-list">
        {% for article in articles %}
            <li>
                <a href="/article/{{ article.hash }}">
                    {% set articleFeedback = article.likes + article.dislikes %}
                    <span class="positive" style="width: {{ articleFeedback == 0 ? 100 : article.dislikes / (article.likes + article.dislikes) * 100 }}%"></span>
                    <span class="label">{{ article.title }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
